*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    min-height: 100vh;
    background: wheat;
}

.container{
    margin-top: 2rem;
    margin-inline: 2rem;
}

.btn{
    background: whitesmoke;
    margin-inline: 0.5rem;
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    box-shadow: 1px 0 10px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.active{
    background-color: blue;
    color: white;
}